<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  {% load static %}
    <span class="logout"><a href="/logout">Logout</a></span>

    <div class="container">

      <!--Simple Form enctype is what allos for image upload-->
      <h2 class="my-4">Add a new picture to your timeline!</h2>
      <form method="POST" action="/upload" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="file" name="upload" accept="image/*">
            <br>
            <button class="btn btn-dark my-4" type="submit">Submit</button>
      </form>

      <h1 class="home-header">Welcome to CloneGram! {{request.session.user_handle}}</h1>

      <!--See Image Uploaded-->
      <h2 class="recent-pics-header">Recent Posts</h2>
      <div class="row">
        {% if file_url %}
        <div class="posts">
          <img src="{{ file_url }}" class="img-fluid">
          <form action="/like" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ obj.id }}">
            {% if user not in obj.liked.all %}
              <button class="like" type="submit">Like</button>
            {% else %}
            <button class="unlike" type="submit">Like</button>
            {% endif %}
          </form>
          <strong>{{ obj.liked.all.count }}Likes</strong>

          {% else %}
        <p>You have not uploaded anything yet.</p>
        {% endif %}
      </div>
    </div>
</body>
</html>