.title {
    padding: 150px;
    text-align: center;
    font-family: proxima;
}

.register {
    display: inline-block;
    float: left;
}

.login {
    margin-left: 100px;
    padding-bottom: 350px;
    float: right;
}

.footer {
    padding-top: 350px;
    padding-left: 755px;
}

.home-header {
    text-align: center;
    padding-top: 25px;
}

.logout {
    margin-left: 1650px;
    font-size: 20px;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.recent-pics-header {
    text-align: center;
}